<h1>Quartos recém postados</h1>

<% if @rooms.exists?%>
<ul>
  <%= @rooms.each do |room| %>
    <li><%= link_to room.complete_name, room  %></li>
  <% end %>
</ul>
<% else %>
  <h3>Não focaram cadastros quartos!</h3>

<%end%>